
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAppartenanceCommissionPermanenteLabel">Create or edit a AppartenanceCommissionPermanente</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <input type="hidden" class="form-control" id="id" name="id"
               ng-model="appartenanceCommissionPermanente.id" readonly/>
        <div class="form-group">
            <label class="control-label" for="field_dateDebut">Date de début</label>
            <input type="date" class="form-control" name="dateDebut" id="field_dateDebut"
                   ng-model="appartenanceCommissionPermanente.dateDebut"/>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
