<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            {{elu.civilite}} {{elu.nom}} {{elu.prenom}}
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <h3>Coordonnées</h3>

            <div class="row">
                <div class="col-sm-2">Nom</div>
                <div class="col-sm-10">{{elu.nom}}</div>
                <div class="col-sm-2">Prénom</div>
                <div class="col-sm-10">{{elu.prenom}}</div>
                <div class="col-sm-2">Nom de jeune fille</div>
                <div class="col-sm-10">{{elu.nomJeuneFille}}</div>
                <div class="col-sm-2">Prénom</div>
                <div class="col-sm-10">{{elu.prenom}}</div>
                <div class="col-sm-2">Profession</div>
                <div class="col-sm-10">{{elu.profession}}</div>
                <div class="col-sm-2">Date de naissance</div>
                <div class="col-sm-10">{{elu.dateNaissance | date:'mediumDate'}}</div>
                <div class="col-sm-2">Lieu de naissance</div>
                <div class="col-sm-10">{{elu.lieuNaissance}}</div>
            </div>

            <h2>Adresses postales</h2>

            <div ng-repeat="adressePostale in elu.adressesPostales track by $index" class="row">
                <h3>Adresse postale n°{{$index + 1}}</h3>

                <div class="col-sm-4">Nature</div>
                <div class="col-sm-8">{{adressePostale.natureProPerso}}</div>
                <div class="col-sm-4"></div>
                <div class="col-sm-8">{{adressePostale.rue}} {{adressePostale.codePostal}} {{adressePostale.ville}}
                </div>
                <div class="col-sm-4">Niveau de confidentialité</div>
                <div class="col-sm-8">{{adressePostale.niveauConfidentialite}}</div>
                <div class="col-sm-4">Adresse de correspondance</div>
                <div class="col-sm-8">{{adressePostale.adresseDeCorrespondance | ouinon}}</div>
                <div class="col-sm-4">Publication dans l'annuaire</div>
                <div class="col-sm-8">{{adressePostale.publicationAnnuaire | ouinon}}</div>
            </div>

            <h2>Numéros de téléphone</h2>

            <div ng-repeat="numeroTelephone in elu.numerosTelephones track by $index" class="row">
                <h3>Numéro de téléphone n°{{$index + 1}}</h3>

                <div class="col-sm-4">Nature</div>
                <div class="col-sm-8">{{numeroTelephone.natureProPerso}}</div>
                <div class="col-sm-4">Fixe ou mobile</div>
                <div class="col-sm-8">{{numeroTelephone.natureFixeMobile}}</div>
                <div class="col-sm-4">Numéro</div>
                <div class="col-sm-8">{{numeroTelephone.numero}}</div>
                <div class="col-sm-4">Niveau de confidentialité</div>
                <div class="col-sm-8">{{numeroTelephone.niveauConfidentialite}}</div>
                <div class="col-sm-4">Publication dans l'annuaire</div>
                <div class="col-sm-8">{{numeroTelephone.publicationAnnuaire | ouinon}}</div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
