<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Ajouter ou modifier un élu
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container row">
            <form name="editForm" role="form" novalidate ng-submit="save()" class="form-horizontal">
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Identité</h3>
                        </div>
                        <div class="box-body">
                            <jh-alert-error></jh-alert-error>
                            <input type="hidden" class="form-control" id="id" name="id"
                                   ng-model="elu.id" readonly/>

                            <identite-edit></identite-edit>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Adresses postales</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="adressePostale in elu.adressesPostales track by $index">
                                <h3>Adresse n°{{$index + 1}}</h3>

                                <adresse-postale-edit></adresse-postale-edit>
                                <button type="button" class="btn btn-xs btn-danger"
                                        ng-click="remove('adressesPostales', $index)">
                                    Enlever cette adresse postale
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-default" ng-click="add('adressesPostales')">
                                Ajouter une adresse postale
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Numéros de téléphone</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="numeroTelephone in elu.numerosTelephones track by $index">
                                <h3>Numéro téléphone n°{{$index + 1}}</h3>

                                <numero-telephone-edit></numero-telephone-edit>
                                <button type="button" class="btn btn-xs btn-danger"
                                        ng-click="remove('numerosTelephones', $index)">
                                    Enlever ce numéro de téléphone
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-default" ng-click="add('numerosTelephones')">
                                Ajouter un numéro de téléphone
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Numéros de fax</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="numeroFax in elu.numerosFax track by $index">
                                <h3>Numéro fax n°{{$index + 1}}</h3>

                                <numero-fax-edit></numero-fax-edit>
                                <button type="button" class="btn btn-xs btn-danger"
                                        ng-click="remove('numerosFax', $index)">
                                    Enlever ce numéro de fax
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-default" ng-click="add('numerosFax')">
                                Ajouter un numéro de fax
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Adresses mail</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="adresseMail in elu.adressesMail track by $index">
                                <h3>Adresse mail n°{{$index + 1}}</h3>

                                <adresse-mail-edit></adresse-mail-edit>
                                <button type="button" class="btn btn-xs btn-danger"
                                        ng-click="remove('adressesMail', $index)">
                                    Enlever cette adresse mail
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-default" ng-click="add('adressesMail')">
                                Ajouter une adresse mail
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-10">
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">Identités sur Internet</h3>
                        </div>
                        <div class="box-body">
                            <div ng-repeat="identiteInternet in elu.identitesInternet track by $index">
                                <h3>Identité sur Internet n°{{$index + 1}}</h3>

                                <identite-internet-edit></identite-internet-edit>
                                <button type="button" class="btn btn-xs btn-danger"
                                        ng-click="remove('identitesInternet', $index)">
                                    Enlever cette identité sur Internet
                                </button>
                            </div>
                            <button type="button" class="btn btn-sm btn-default" ng-click="add('identitesInternet')">
                                Ajouter une identité sur Internet
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <button type="submit" ng-disabled="editForm.$invalid || isSaving"
                            class="btn btn-primary">
                        <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer le nouvel élu</span>
                    </button>
                </div>
            </form>
        </div>
    </section>
</div>
