<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les élus
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">

            <jh-alert></jh-alert>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ui-sref="elu.new">
                            <span class="glyphicon glyphicon-flash"></span> <span>Ajouter un élu</span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                       placeholder="Recherche">
                            </div>
                            <button class="btn btn-info" ng-click="search()"><span
                                class="glyphicon glyphicon-search"></span> <span>Chercher un élu</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Civilité</th>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Nom de jeune fille</th>
                        <th>Profession</th>
                        <th>Date de naissance</th>
                        <th>Lieu de naissance</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="elu in elus track by elu.id">
                        <td><a ui-sref="elu.detail({id:elu.id})">{{elu.id}}</a></td>
                        <td translate="{{'babylone14166App.Civilite.' + elu.civilite}}">{{elu.civilite}}</td>
                        <td>{{elu.nom}}</td>
                        <td>{{elu.prenom}}</td>
                        <td>{{elu.nomJeuneFille}}</td>
                        <td>{{elu.profession}}</td>
                        <td>{{elu.dateNaissance | date:'mediumDate'}}</td>
                        <td>{{elu.lieuNaissance}}</td>
                        <td>
                            <button type="submit"
                                    ui-sref="elu.detail({id:elu.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Détails</span>
                            </button>
                            <button type="submit"
                                    ui-sref="elu.edit({id:elu.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Éditer</span>
                            </button>
                            <button type="submit"
                                    ui-sref="elu.delete({id:elu.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Supprimer</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </section>
    <!-- /.content -->
</div>
