<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les élus
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">

            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ui-sref="elus.new">
                            <span class="glyphicon glyphicon-plus"></span> <span>Ajouter un élu</span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                       placeholder="Recherche">
                            </div>
                            <button class="btn btn-info" ng-click="search()"><span
                                class="glyphicon glyphicon-search"></span> <span>Chercher un élu</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                {{dtos.length}} élus
            </div>

            <div class="container">
                <div class="row">
                    <elu ng-repeat="dto in dtos"/>
                </div>
            </div>
        </div>
    </section>
    <!-- /.content -->
</div>
