
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myHemicycleArchiveLabel">Create or edit a HemicycleArchive</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="hemicycleArchive.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_jsonPlan">JsonPlan</label>
            <input type="text" class="form-control" name="jsonPlan" id="field_jsonPlan"
                    ng-model="hemicycleArchive.jsonPlan"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_svgPlan">SvgPlan</label>
            <input type="text" class="form-control" name="svgPlan" id="field_svgPlan"
                    ng-model="hemicycleArchive.svgPlan"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
            <input type="datetime-local" class="form-control" name="date" id="field_date"
                    ng-model="hemicycleArchive.date"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
