<div>
    <section class="content">
        <div class="container">
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="info-box title-box title-box-elu">
                    <div class="info-box-content-elu">
                        <h1>
                            {{dto.elu.civilite | civilite}} {{dto.elu.prenom}} {{dto.elu.nom}}
                        </h1>
                    </div>
                </div>
                <div class="info-box">
                    <div class="info-box-content-elu">
                        <span class="info-box-info-elu">
                            <div>
                                <span class="lg">Née le</span> {{dto.elu.dateNaissance}}
                                <span class="lg">à</span> {{dto.elu.lieuNaissance}}
                            </div>
                            <div ng-if="dto.elu.nomJeuneFille">
                                <span class="lg">Nom de jeune fille</span> {{dto.elu.nomJeuneFille}}
                            </div>
                            <div>
                                <span class="lg">Profession</span> {{dto.elu.profession}}
                            </div>
                        </span>
                        <div class="btn-group elu-action">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                                    aria-expanded="false">
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right">
                                <li>
                                    <a href="#" ui-sref="elu.edit({id:dto.elu.id})">
                                        <span class="fa fa-pencil"></span>
                                        Éditer
                                    </a>
                                </li>
                                <li>
                                    <a href="#" ng-href="api/elus/{{dto.elu.id}}/export">
                                        <span class="fa fa-table"></span>
                                        <span>Export Excel</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <groupes-politiques></groupes-politiques>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="info-box">
                    <div class="info-box-photo-big">
                        <img ng-if="dto.elu.image" ng-src="images/{{dto.elu.image}}" ui-sref="elu.detail.uploadImage"/>
                        <button ng-if="dto.elu.image == null" class="btn btn-sm btn-primary"
                                ui-sref="elu.detail.uploadImage">
                            Ajouter une image
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-md-12 row">
                <commission-permanente></commission-permanente>

                <commissions-thematiques></commissions-thematiques>
            </div>

            <div class="col-md-12 row">
                <organismes></organismes>

                <adresses-postales></adresses-postales>
            </div>

            <div class="col-md-12 row">
                <numeros-telephone></numeros-telephone>

                <numeros-fax></numeros-fax>
            </div>

            <div class="col-md-12 row">
                <adresses-mail></adresses-mail>

                <identites-internet></identites-internet>
            </div>

            <div class="col-md-12">
                <vie-politique-passee></vie-politique-passee>
            </div>
        </div>
    </section>
</div>
