<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les élus
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-md-4">
                <h2>{{dtos.length}} élus</h2>
            </div>
            <div class="col-md-8 align-right">
                <button class="btn btn-sm btn-primary" ui-sref="elu.new">
                    <span class="glyphicon glyphicon-plus"></span>
                    <span>Ajouter un élu</span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="dto in dtos">
                <div class="info-box entity-component" ui-sref="elu.detail({id:dto.elu.id})">
                    <span class="info-box-photo">
                        <img ng-if="dto.elu.image" ng-src="images/{{dto.elu.image}}"/>
                    </span>

                    <div class="info-box-content">
                        <span
                            class="info-box-titre">{{dto.elu.civilite | civilite}} {{dto.elu.prenom}} {{dto.elu.nom}}</span>
                        <span class="info-box-info">
                            {{dto.groupePolitique.nomCourt}}
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
