<div>
    <section class="content-header">
        <h1>
            Bienvenue sur SIGER
            <small>l'application de gestion des élus</small>
        </h1>
    </section>

    <section class="content">
        <div class="container">
            <div>
                <svg width="1000" height="600">
                    <style>
                        .assembleeChair {
                            fill: none;
                        }

                        .assembleeChair:hover {
                            fill: #4673bd;
                            opacity: 0.4;
                        }

                        .assembleeCouloir1 {
                            transform: rotate(30deg);
                            transform-origin: 50% 100%;
                        }

                        .assembleeCouloir2 {
                            transform: rotate(-30deg);
                            transform-origin: 50% 100%;
                        }
                    </style>
                    <rect x="0"
                          y="0"
                          width="1000"
                          height="600"
                          fill="none"
                          stroke="#bd5e46"/>
                    <g ng-repeat="chair in assemblee.chairs">
                        <polygon
                            points="{{chair.x1}},{{chair.y1}} {{chair.x2}},{{chair.y2}} {{chair.x3}},{{chair.y3}} {{chair.x4}},{{chair.y4}}"
                            stroke="black"
                            stroke-width="1px"
                            class="assembleeChair"
                            ng-mouseover="test()"
                        />
                        <!--                        <line-->
                        <!--                            x1={{chair.baseX1}}-->
                        <!--                            y1={{chair.baseY1}}-->
                        <!--                            x2={{chair.baseX2}}-->
                        <!--                            y2={{chair.baseY2}}-->
                        <!--                            stroke="green"-->
                        <!--                        />-->
                        <!--                        <line-->
                        <!--                            x1={{500}}-->
                        <!--                            y1={{300}}-->
                        <!--                            x2={{chair.chairBaseX}}-->
                        <!--                            y2={{chair.chairBaseY}}-->
                        <!--                            stroke="yellow"-->
                        <!--                        />-->
                        <!--                        <circle-->
                        <!--                            cx="{{chair.baseX1}}"-->
                        <!--                            cy="{{chair.baseY1}}"-->
                        <!--                            r="2"-->
                        <!--                            fill="blue"-->
                        <!--                        />-->
                    </g>
                    <!--                    <ellipse rx="240"-->
                    <!--                             ry="160"-->
                    <!--                             cx="500"-->
                    <!--                             cy="600"-->
                    <!--                             fill="none"-->
                    <!--                             stroke="#4673bd"-->
                    <!--                             opacity="0.4"-->
                    <!--                    />-->
                    <!--                    <g>-->
                    <!--                        <rect x="480"-->
                    <!--                              y="0"-->
                    <!--                              width="40"-->
                    <!--                              height="600"-->
                    <!--                              class="assembleeCouloir1"-->
                    <!--                              fill="none"-->
                    <!--                              stroke="#4673bd"-->
                    <!--                              opacity="0.4"-->
                    <!--                        />-->
                    <!--                        <rect x="480"-->
                    <!--                              y="0"-->
                    <!--                              width="40"-->
                    <!--                              height="600"-->
                    <!--                              class="assembleeCouloir2"-->
                    <!--                              fill="none"-->
                    <!--                              stroke="#4673bd"-->
                    <!--                              opacity="0.4"-->
                    <!--                        />-->
                    <!--                    </g>-->
                </svg>
            </div>

            <div class="search-bloc">
                <label class="search-label" for="search-input">Recherche</label>
                <input id="search-input" ng-model="$root.searchToken"/>
            </div>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="dto in dtos" ng-switch="dto.resultType">
                    <div class="info-box entity-component" ng-switch-when="ELU" ui-sref="elu.detail({id:dto.id})">
                        <span class="info-box-photo">
                            <img ng-if="dto.image" ng-src="images/{{dto.image}}"/>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-titre">{{dto.display}}</span>
                        </div>
                    </div>
                    <div class="info-box entity-component" ng-switch-when="GROUPE_POLITIQUE"
                         ui-sref="groupesPolitiques.detail({id:dto.id})">
                        <span class="info-box-photo">
                            <img ng-if="dto.image" ng-src="images/{{dto.image}}"/>
                        </span>

                        <div class="info-box-content">
                            <span class="info-box-titre">{{dto.display}}</span>
                        </div>
                    </div>
                    <div class="info-box entity-component" ng-switch-when="COMMISSION_THEMATIQUE"
                         ui-sref="commissionThematique.detail({id:dto.id})">
                        <div class="info-box-content">
                            <span class="info-box-titre">{{dto.display}}</span>
                        </div>
                    </div>
                    <div class="info-box entity-component" ng-switch-when="ORGANISME    "
                         ui-sref="organisme.detail({id:dto.id})">
                        <div class="info-box-content">
                            <span class="info-box-titre">{{dto.display}}</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>
