<div>
    <h2>AdressePostales</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="adressePostale.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new AdressePostale</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a AdressePostale</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NatureProPerso</th>
                    <th>Rue</th>
                    <th>CodePostal</th>
                    <th>Ville</th>
                    <th>NiveauConfidentialite</th>
                    <th>AdresseDeCorrespondance</th>
                    <th>PublicationAnnuaire</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="adressePostale in adressePostales track by adressePostale.id">
                    <td><a ui-sref="adressePostale.detail({id:adressePostale.id})">{{adressePostale.id}}</a></td>
                    <td translate="{{'babylone14166App.NatureProPerso.' + adressePostale.natureProPerso}}">{{adressePostale.natureProPerso}}</td>
                    <td>{{adressePostale.rue}}</td>
                    <td>{{adressePostale.codePostal}}</td>
                    <td>{{adressePostale.ville}}</td>
                    <td translate="{{'babylone14166App.NiveauConfidentialite.' + adressePostale.niveauConfidentialite}}">{{adressePostale.niveauConfidentialite}}</td>
                    <td>{{adressePostale.adresseDeCorrespondance}}</td>
                    <td>{{adressePostale.publicationAnnuaire}}</td>
                    <td>
                        <button type="submit"
                                ui-sref="adressePostale.detail({id:adressePostale.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="adressePostale.edit({id:adressePostale.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="adressePostale.delete({id:adressePostale.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
