
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myAdressePostaleLabel">Create or edit a AdressePostale</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="adressePostale.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_natureProPerso">NatureProPerso</label>
            <select class="form-control" name="natureProPerso" ng-model="adressePostale.natureProPerso" id="field_natureProPerso">
                <option value="PRO">PRO</option>
                <option value="PERSO">PERSO</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_rue">Rue</label>
            <input type="text" class="form-control" name="rue" id="field_rue"
                    ng-model="adressePostale.rue"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codePostal">CodePostal</label>
            <input type="text" class="form-control" name="codePostal" id="field_codePostal"
                    ng-model="adressePostale.codePostal"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_ville">Ville</label>
            <input type="text" class="form-control" name="ville" id="field_ville"
                    ng-model="adressePostale.ville"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_niveauConfidentialite">NiveauConfidentialite</label>
            <select class="form-control" name="niveauConfidentialite" ng-model="adressePostale.niveauConfidentialite" id="field_niveauConfidentialite">
                <option value="PUBLIABLE">PUBLIABLE</option>
                <option value="CONFIDENTIEL">CONFIDENTIEL</option>
                <option value="INTERNE">INTERNE</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_adresseDeCorrespondance">AdresseDeCorrespondance</label>
            <input type="checkbox" class="form-control" name="adresseDeCorrespondance" id="field_adresseDeCorrespondance"
                    ng-model="adressePostale.adresseDeCorrespondance"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_publicationAnnuaire">PublicationAnnuaire</label>
            <input type="checkbox" class="form-control" name="publicationAnnuaire" id="field_publicationAnnuaire"
                    ng-model="adressePostale.publicationAnnuaire"
                     />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
