.entity-component {
    cursor: pointer;
}

.info-box-photo {
    border-top-left-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 2px;
    display: block;
    float: left;
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 45px;
    background: rgba(0, 0, 0, 0.2);
}

.info-box-photo img {
    max-width: 100%;
    max-height: 100%;
}

.info-box-titre {
    display: block;
    font-size: 18px;
    /*TODO wat*/
    /*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 12px;
}

.info-box-info {
    display: block;
    font-size: 12px;
}

.info-box-info .lg {
    color: #777;
}

.bg-white {
    background: white;
}
