<form name="editForm" role="form" novalidate ng-submit="save()">
    <div class="modal-header">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="clear()"
        >
            &times;
        </button>
        <h4 class="modal-title" id="myMandatLabel">Mandat</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <!--        <div class="form-group">-->
        <!--            <label for="id">ID</label>-->
        <!--            <input-->
        <!--                type="text"-->
        <!--                class="form-control"-->
        <!--                id="id"-->
        <!--                name="id"-->
        <!--                ng-model="mandat.id"-->
        <!--                readonly-->
        <!--            />-->
        <!--        </div>-->
        <div class="form-group">
            <label class="control-label" for="field_dateDebut"
                >Date de début</label
            >
            <input
                type="date"
                class="form-control"
                name="dateDebut"
                id="field_dateDebut"
                ng-model="mandat.dateDebut"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_codeDepartement"
                >Code département</label
            >
            <input
                type="text"
                class="form-control"
                name="codeDepartement"
                id="field_codeDepartement"
                ng-model="mandat.codeDepartement"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_departement"
                >Département</label
            >
            <input
                type="text"
                class="form-control"
                name="departement"
                id="field_departement"
                ng-model="mandat.departement"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_dateDemission"
                >Date de démission</label
            >
            <input
                type="date"
                class="form-control"
                name="dateDemission"
                id="field_dateDemission"
                ng-model="mandat.dateDemission"
            />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_motifDemission"
                >Motif de démission</label
            >
            <input
                type="text"
                class="form-control"
                name="motifDemission"
                id="field_motifDemission"
                ng-model="mandat.motifDemission"
            />
        </div>
        <!--        <div class="form-group">-->
        <!--            <label for="field_elu">elu</label>-->
        <!--            <select-->
        <!--                class="form-control"-->
        <!--                id="field_elu"-->
        <!--                name="elu"-->
        <!--                ng-model="mandat.elu"-->
        <!--                ng-options="elu as elu.id for elu in elus track by elu.id"-->
        <!--            >-->
        <!--                <option value=""></option>-->
        <!--            </select>-->
        <!--        </div>-->
        <!--        <div class="form-group">-->
        <!--            <label for="field_mandature">mandature</label>-->
        <!--            <select-->
        <!--                class="form-control"-->
        <!--                id="field_mandature"-->
        <!--                name="mandature"-->
        <!--                ng-model="mandat.mandature"-->
        <!--                ng-options="mandature as mandature.id for mandature in mandatures track by mandature.id"-->
        <!--            >-->
        <!--                <option value=""></option>-->
        <!--            </select>-->
        <!--        </div>-->
        <div class="form-group">
            <label for="field_listeElectorale">Liste candidats</label>
            <select
                class="form-control"
                id="field_listeElectorale"
                name="listeElectorale"
                ng-model="mandat.listeElectorale"
                ng-options="listeElectorale as listeElectorale.nom for listeElectorale in listeelectorales track by listeElectorale.id"
            >
                <option value=""></option>
            </select>
        </div>
        <div
            class="form-group"
            ng-if="mandat.dateDemission || mandat.motifDemission"
        >
            <input
                type="checkbox"
                name="demissionDiffusion"
                id="field_demissionDiffusion"
                ng-model="dto.demissionDiffusion"
            />
            <label class="control-label" for="field_demissionDiffusion"
                >Appliquer la démission aux autres fonctions :</label
            >
            <ul>
                <li>appartenance et fonction à la commission permanente</li>
                <li>fonction exécutive</li>
                <li>appartenance et fonction au groupe politique</li>
                <li>appartenances et fonctions aux commissions thématiques</li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            ng-click="clear()"
        >
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                >Annuler</span
            >
        </button>
        <button
            type="submit"
            ng-disabled="editForm.$invalid || isSaving"
            class="btn btn-primary"
        >
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span
                >Enregistrer</span
            >
        </button>
    </div>
</form>
