<div>
    <h2>FonctionCommissionPermanentes</h2>
    <jh-alert></jh-alert>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="fonctionCommissionPermanente.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new FonctionCommissionPermanente</span>
                </button>
            </div>
            <div class="col-md-8">
                <form name="searchForm" class="form-inline">
                    <div class="form-group">
                        <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery" placeholder="query">
                    </div>
                    <button class="btn btn-info" ng-click="search()"><span class="glyphicon glyphicon-search"></span> <span>Search a FonctionCommissionPermanente</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Fonction</th>
                    <th>DateDebut</th>
                    <th>DateFin</th>
                    <th>MotifFin</th>
                    <th>elu</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="fonctionCommissionPermanente in fonctionCommissionPermanentes track by fonctionCommissionPermanente.id">
                    <td><a ui-sref="fonctionCommissionPermanente.detail({id:fonctionCommissionPermanente.id})">{{fonctionCommissionPermanente.id}}</a></td>
                    <td>{{fonctionCommissionPermanente.fonction}}</td>
                        <td>{{fonctionCommissionPermanente.dateDebut | date:'mediumDate'}}</td>
                        <td>{{fonctionCommissionPermanente.dateFin | date:'mediumDate'}}</td>
                    <td>{{fonctionCommissionPermanente.motifFin}}</td>
                    <td>
                        <a ui-sref="elu.detail({id:fonctionCommissionPermanente.elu.id})">{{fonctionCommissionPermanente.elu.id}}</a>
                    </td>
                    <td>
                        <button type="submit"
                                ui-sref="fonctionCommissionPermanente.detail({id:fonctionCommissionPermanente.id})"
                                class="btn btn-info btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>
                        </button>
                        <button type="submit"
                                ui-sref="fonctionCommissionPermanente.edit({id:fonctionCommissionPermanente.id})"
                                class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Edit</span>
                        </button>
                        <button type="submit"
                                ui-sref="fonctionCommissionPermanente.delete({id:fonctionCommissionPermanente.id})"
                                class="btn btn-danger btn-sm">
                            <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Delete</span>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
