<div class="col-md-4 col-sm-6 col-xs-12">
    <div class="info-box entity-component" ui-sref="elus.detail({id:elu.id})">
        <!--<span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-user"></i></span>-->
        <span class="info-box-photo">
          <img ng-if="dto.elu.image" ng-src="images/{{dto.elu.image}}"/>
        </span>

        <div class="info-box-content">
            <span class="info-box-titre">{{dto.elu.civilite | civilite}} {{dto.elu.prenom}} {{dto.elu.nom}}</span>
            <span class="info-box-info">
                <!--<div ng-if="dto.elu.nomJeuneFille">-->
                <!--&lt;!&ndash; TODO née ? ou 'Nom de jeune fille' ? &ndash;&gt;-->
                <!--<span class="lg">Née</span> {{dto.elu.nomJeuneFille}}-->
                <!--</div>-->
                <span class="lg">Groupe</span> {{dto.groupePolitique.nomCourt}}
            </span>

            <!--<span class="info-box-info">-->
            <!--<span class="lg">Né le</span> {{elu.dateNaissance}}-->
            <!--<span class="lg">à</span> {{elu.lieuNaissance}}-->
            <!--</span>-->
            <!--<span class="info-box-info"><span class="lg">Profession :</span> {{elu.profession}}</span>-->
        </div>
        <!-- /.info-box-content -->
    </div>
    <!-- /.info-box -->
</div>
