<div class="form-group">
    <label class="col-sm-2 control-label" for="field_civilite">Civilite</label>

    <div class="col-sm-10">
        <select class="form-control" name="civilite" ng-model="elu.civilite"
                id="field_civilite">
            <option value="MONSIEUR">Monsieur</option>
            <option value="MADAME">Madame</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_nom">Nom</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" name="nom" id="field_nom"
               ng-model="elu.nom"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_prenom">Prénom</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" name="prenom" id="field_prenom"
               ng-model="elu.prenom"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_nomJeuneFille">Nom de jeune
        fille</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" name="nomJeuneFille"
               id="field_nomJeuneFille" ng-model="elu.nomJeuneFille"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_profession">Profession</label>

    <div class="col-sm-10">
        <input type="text" class="typeahead form-control" name="profession" id="field_profession"
               options="typeaheadOptions" datasets="professions" ng-model="elu.profession" sf-typeahead
               autocomplete="off"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_dateNaissance">Date de
        naissance</label>

    <div class="col-sm-10">
        <input type="date" class="form-control" name="dateNaissance"
               id="field_dateNaissance" ng-model="elu.dateNaissance"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="field_lieuNaissance">Lieu de
        naissance</label>

    <div class="col-sm-10">
        <input type="text" class="form-control" name="lieuNaissance"
               id="field_lieuNaissance" ng-model="elu.lieuNaissance"/>
    </div>
</div>
