<h3 ng-if="elu.appartenancesOrganismes.length">Organismes</h3>
<div ng-repeat="a in elu.appartenancesOrganismes" class="well">
    Est désigné {{a.statut}} dans l'organisme {{organismes[a.codeRNE].nom}} au code RNE {{a.codeRNE}} depuis le
    {{a.dateDebut}}
    <div ng-if="a.dateFin">Prend fin le {{a.dateFin}} pour le motif suivant : {{a.motifFin}}</div>
    <div ng-if="a.dateFin==undefined">
        <button class="btn btn-sm btn-primary"
                ui-sref="elus.detail.finAppartenanceOrganisme({appartenanceId: a.id})">
            Fixer une date et un motif de départ
        </button>
    </div>
</div>
<div>
    <button class="btn btn-sm btn-primary"
            ui-sref="elus.detail.ajouterOrganisme">
        Ajouter à un organisme
    </button>
</div>
