<div ng-if="!elu.fonctionsExecutives.length
                && !elu.appartenancesCommissionPermanente.length
                && !elu.fonctionsCommissionPermanente.length">Aucune fonction
</div>

<h3 ng-if="elu.appartenancesCommissionPermanente.length">Commission permanente</h3>
<div ng-repeat="a in elu.appartenancesCommissionPermanente" class="well">
    Appartient à la commission depuis le {{a.dateDebut}}
    <div ng-if="a.dateFin">Prend fin le {{a.dateFin}} pour le motif suivant : {{a.motifFin}}</div>
    <div ng-if="a.dateFin==undefined">
        <button class="btn btn-sm btn-primary"
                ui-sref="elu.detail.finAppartenanceCommissionPermanente({appartenanceId: a.id})">
            Fixer une date et un motif de départ
        </button>
    </div>
</div>
<div ng-if="!eluEnCommissionPermanente">
    <button class="btn btn-sm btn-primary"
            ui-sref="elu.detail.ajouterCommissionPermanente">
        Ajouter à la commission permanente
    </button>
</div>

<h3 ng-if="elu.fonctionsCommissionPermanente.length">Fonctions à la commission permanente</h3>
<div ng-repeat="f in elu.fonctionsCommissionPermanente" class="well">
    Fonction à la commission : {{f.fonction}} depuis le {{f.dateDebut}}
    <div ng-if="f.dateFin">Prend fin le {{f.dateFin}} pour le motif suivant : {{f.motifFin}}</div>
    <div ng-if="f.dateFin==undefined">
        <button class="btn btn-sm btn-primary"
                ui-sref="elus.detail.finFonctionCommissionPermanente({fonctionId: f.id})">
            Fixer une date et un motif de départ
        </button>
    </div>
</div>
<div>
    <button class="btn btn-sm btn-primary" ui-sref="elus.detail.nouvelleFonctionCommissionPermanente">
        Ajouter une fonction à la commission permanente
    </button>
</div>

<h3 ng-if="elu.fonctionsExecutives.length">Fonctions exécutives</h3>
<div ng-repeat="f in elu.fonctionsExecutives" class="well">
    Fonction : {{f.fonction}} depuis le {{f.dateDebut}}
    <div ng-if="f.dateFin">Prend fin le {{f.dateFin}} pour le motif suivant : {{f.motifFin}}</div>
    <div ng-if="f.dateFin==undefined">
        <button class="btn btn-sm btn-primary"
                ui-sref="elus.detail.finFonctionExecutive({fonctionId: f.id})">
            Fixer une date et un motif de départ
        </button>
    </div>
</div>
<div>
    <button class="btn btn-sm btn-primary" ui-sref="elus.detail.nouvelleFonctionExecutive">
        Ajouter une fonction exécutive
    </button>
</div>
