
<form name="editForm" role="form" novalidate ng-submit="save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="mySeanceLabel">Ajouter une séance</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label" for="field_intitule">Intitulé</label>
            <input type="text" class="form-control" name="intitule" id="field_intitule"
                    ng-model="seance.intitule"
                     />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_type">Type</label>
            <select class="form-control" name="type" ng-model="seance.type" id="field_type">
                <option value="PLENIERE">Plénière</option>
                <option value="COMMISSION_PERMANENTE">Commission permanente</option>
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" for="field_date">Date</label>
            <input type="text" bs-datepicker class="form-control" name="date" id="field_date"
                    ng-model="seance.date"
                   autocomplete="off"  />
        </div>
        <div class="form-group">
            <label class="control-label" for="field_nombreSignatures">Nombre de signatures</label>
            <select class="form-control" name="type" ng-model="seance.nombreSignatures" id="field_nombreSignatures">
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
        </div>
        <h2>Point de départ du plan d'hémicycle :</h2>
        <div class="fieldset">
            <div class="form-group">
                <label>Sur plan de séance :</label>
                <select class="form-control" id="field_fromSeance" name="fromSeance"
                        ng-model="properties.planFromSeance"
                        ng-options="seance as seance.intitule for seance in seances track by seance.id">
                </select>
            </div>
            <div class="form-group">
                <label >Sur projet de plan :</label>
                <select class="form-control" id="field_fromProjet" name="fromPlan"
                        ng-model="properties.planFromProjet"
                        ng-options="projet as projet.label for projet in projetsPlan track by projet.id">
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Annuler</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Enregistrer</span>
        </button>
    </div>
</form>
