<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            La commission permanente
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">
            <h2>Les membres de la commission</h2>

            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="a in comm.appartenances">
                    <div class="info-box entity-component" ng-init="elu = comm.elus[a.elu.id]"
                         ui-sref="elus.detail({id:elu.id})">
                        <span class="info-box-photo">
                            <img ng-if="elu.image" ng-src="images/{{elu.image}}"/>
                        </span>

                        <div class="info-box-content">
                        <span
                            class="info-box-titre">{{elu.civilite | civilite}} {{elu.prenom}} {{elu.nom}}</span>
                            <div class="info-box-info">
                                Depuis le {{a.dateDebut}}
                                <div ng-if="a.dateFin">Prend fin le {{a.dateFin}} pour le motif suivant :
                                    {{a.motifFin}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Les élus ayant une fonction à la commission</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="f in comm.fonctions">
                    <div class="info-box entity-component" ng-init="elu = comm.elus[f.elu.id]"
                         ui-sref="elus.detail({id:elu.id})">
                        <span class="info-box-photo">
                            <img ng-if="elu.image" ng-src="images/{{elu.image}}"/>
                        </span>

                        <div class="info-box-content">
                        <span
                            class="info-box-titre">{{elu.civilite | civilite}} {{elu.prenom}} {{elu.nom}}</span>
                            <div class="info-box-info">
                                Depuis le {{f.dateDebut}}
                                <div ng-if="a.dateFin">Prend fin le {{f.dateFin}} pour le motif suivant :
                                    {{f.motifFin}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2>Les élus ayant une fonction exécutive</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="f in comm.fonctionsExecutives">
                    <div class="info-box entity-component" ng-init="elu = comm.elus[f.elu.id]"
                         ui-sref="elus.detail({id:elu.id})">
                        <span class="info-box-photo">
                            <img ng-if="elu.image" ng-src="images/{{elu.image}}"/>
                        </span>

                        <div class="info-box-content">
                        <span
                            class="info-box-titre">{{elu.civilite | civilite}} {{elu.prenom}} {{elu.nom}}</span>
                            <div class="info-box-info">
                                Depuis le {{f.dateDebut}}
                                <div ng-if="a.dateFin">Prend fin le {{f.dateFin}} pour le motif suivant :
                                    {{f.motifFin}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
