<div>
    <h2><span>GroupePolitique</span> {{dto.groupePolitique.id}}</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Field</th>
                <th>Value</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>Nom</span>
                </td>
                <td>
                    <span class="form-control-static">{{dto.groupePolitique.nom}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>NomCourt</span>
                </td>
                <td>
                    <span class="form-control-static">{{dto.groupePolitique.nomCourt}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>DateDebut</span>
                </td>
                <td>
                    <span class="form-control-static">{{dto.groupePolitique.dateDebut | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>DateFin</span>
                </td>
                <td>
                    <span class="form-control-static">{{dto.groupePolitique.dateFin | date:'mediumDate'}}</span>
                </td>
            </tr>
            <tr>
                <td>
                    <span>MotifFin</span>
                </td>
                <td>
                    <span class="form-control-static">{{dto.groupePolitique.motifFin}}</span>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div>
        <span class="info-box-photo">
            <img ng-if="dto.groupePolitique.image" class="profile-image" ng-src="images/{{dto.groupePolitique.image}}"/>
        </span>
        <button class="btn btn-sm btn-primary"
                ui-sref="groupesPolitiques.detail.uploadImage">
            Ajouter une image
        </button>
    </div>

    <div ng-if="dto.groupePolitique.dateFin==undefined">
        <button class="btn btn-sm btn-primary"
                ui-sref="groupesPolitiques.detail.fin">
            Fixer une date et un motif de fin du groupe
        </button>
    </div>

    <br/>

    <h2>Les élus du groupe</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="a in dto.appartenanceGroupePolitiqueDTOs"
             ng-if="a.dateFin == null">
            <div class="info-box entity-component"
                 ui-sref="elu.detail({id:a.elu.id})">
                        <span class="info-box-photo">
                            <img ng-if="a.elu.image" ng-src="images/{{a.elu.image}}"/>
                        </span>

                <div class="info-box-content">
                        <span
                            class="info-box-titre">{{a.elu.civilite | civilite}} {{a.elu.prenom}} {{a.elu.nom}}</span>
                    <div class="info-box-info">
                        <span class="grey">Depuis le</span> {{a.appartenanceGroupePolitique.dateDebut}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h2>Les élus en fonction dans le groupe</h2>
    <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="a in dto.fonctionGroupePolitiqueDTOs"
             ng-if="a.dateFin == null">
            <div class="info-box entity-component"
                 ui-sref="elu.detail({id:a.elu.id})">
                        <span class="info-box-photo">
                            <img ng-if="a.elu.image" ng-src="images/{{a.elu.image}}"/>
                        </span>

                <div class="info-box-content">
                        <span
                            class="info-box-titre">{{a.elu.civilite | civilite}} {{a.elu.prenom}} {{a.elu.nom}}</span>
                    <div class="info-box-info">
                        {{a.fonctionGroupePolitique.fonction}} <span class="grey">depuis le</span>
                        {{a.fonctionGroupePolitique.dateDebut}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
