<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les groupes politiques
        </h1>
    </section>

    <!-- Main content -->
    <div class="content">
        <div class="container">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ui-sref="groupesPolitiques.new">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>Créer un nouveau groupe politique</span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                       placeholder="query">
                            </div>
                            <button class="btn btn-info" ng-click="search()"><span
                                class="glyphicon glyphicon-search"></span>
                                <span>Chercher un groupe politique</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12" ng-repeat="groupePolitique in groupesPolitiques">
                        <div class="info-box entity-component"
                             ui-sref="groupesPolitiques.detail({id:groupePolitique.id})">
                            <!--<span class="info-box-icon bg-aqua"><i class="glyphicon glyphicon-user"></i></span>-->
                            <span class="info-box-photo bg-white">
                              <img ng-if="groupePolitique.image" class="profile-image"
                                   ng-src="images/{{groupePolitique.image}}"/>
                            </span>

                            <div class="info-box-content">
                                <span class="info-box-titre">{{groupePolitique.nom}}</span>
                                <span class="info-box-info">
                                    <span class="lg">{{groupePolitique.nomCourt}}</span>
                                </span>
                                <!--<span class="info-box-info">-->
                                <!--<span class="lg">Né le</span> {{elu.dateNaissance}}-->
                                <!--<span class="lg">à</span> {{elu.lieuNaissance}}-->
                                <!--</span>-->
                                <!--<span class="info-box-info"><span class="lg">Profession :</span> {{elu.profession}}</span>-->
                            </div>
                            <!-- /.info-box-content -->
                        </div>
                        <!-- /.info-box -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
