<div>
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Les groupes politiques
        </h1>
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container">

            <jh-alert></jh-alert>
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <button class="btn btn-primary" ui-sref="groupePolitique.new">
                            <span class="glyphicon glyphicon-plus"></span>
                            <span>Créer un nouveau groupe politique</span>
                        </button>
                    </div>
                    <div class="col-md-8">
                        <form name="searchForm" class="form-inline">
                            <div class="form-group">
                                <input type="text" class="form-control" ng-model="searchQuery" id="searchQuery"
                                       placeholder="query">
                            </div>
                            <button class="btn btn-info" ng-click="search()"><span
                                class="glyphicon glyphicon-search"></span>
                                <span>Chercher un groupe politique</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>Nom</th>
                        <th>NomCourt</th>
                        <th>DateDebut</th>
                        <th>DateFin</th>
                        <th>MotifFin</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="groupePolitique in groupePolitiques track by groupePolitique.id">
                        <td><a ui-sref="groupePolitique.detail({id:groupePolitique.id})">{{groupePolitique.id}}</a></td>
                        <td>{{groupePolitique.nom}}</td>
                        <td>{{groupePolitique.nomCourt}}</td>
                        <td>{{groupePolitique.dateDebut | date:'mediumDate'}}</td>
                        <td>{{groupePolitique.dateFin | date:'mediumDate'}}</td>
                        <td>{{groupePolitique.motifFin}}</td>
                        <td>
                            <button type="submit"
                                    ui-sref="groupePolitique.detail({id:groupePolitique.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> Détail</span>
                            </button>
                            <button type="submit"
                                    ui-sref="groupePolitique.edit({id:groupePolitique.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>&nbsp;<span> Modifier</span>
                            </button>
                            <button type="submit"
                                    ui-sref="groupePolitique.delete({id:groupePolitique.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span> Supprimer</span>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</div>
