<ul class="sidebar-menu" role="navigation">
    <li class="header">Gestion des élus</li>
    <li ui-sref-active="active">
        <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> <span>Accueil</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="elus"> <i class="fa fa-user"></i> <span>Élus</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="groupePolitique"> <i class="fa fa-flag"></i> <span>Groupes politiques</span></a>
    </li>
    <!--<li ui-sref-active="active">-->
    <!--<a ui-sref="commissionsThematiques"> <i class="fa fa-quote-left"></i> <span>Commissions thématiques</span></a>-->
    <!--</li>-->
    <li ui-sref-active="active">
        <a ui-sref="commissionPermanente"> <i class="fa fa-users"></i> <span>Commission permanente</span></a>
    </li>
    <!-- JHipster will add entities to the menu here -->
    <!--<li class="treeview">-->
    <!--<a href="#">-->
    <!--<i class="fa fa-dashboard"></i> <span>Dashboard</span> <i-->
    <!--class="fa fa-angle-left pull-right"></i>-->
    <!--</a>-->
    <!--<ul class="treeview-menu">-->
    <!--<li><a href="../../index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>-->
    <!--<li><a href="../../index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>-->
    <!--</ul>-->
    <!--</li>-->
</ul>
