<ul class="sidebar-menu" role="navigation">
    <li class="header">Gestion des élus</li>
    <li ui-sref-active="active">
        <a ui-sref="home"><i class="glyphicon glyphicon-home"></i> <span>Accueil</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="elu"> <i class="fa fa-user"></i> <span>Élus</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="groupesPolitiques"> <i class="fa fa-bookmark"></i> <span>Groupes politiques</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="commission-permanente"> <i class="fa fa-users"></i> <span>Commission permanente</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="commissionThematique"> <i class="fa fa-quote-left"></i> <span>Commissions thématiques</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="organisme"> <i class="fa fa-book"></i> <span>Organismes</span></a>
    </li>
    <li ui-sref-active="active">
        <a ui-sref="seance"> <i class="fa fa-calendar"></i> <span>Séances</span></a>
    </li>
    <ul class="dropdown-menu">
        <!-- JHipster will add entities to the menu here -->
    </ul>
</ul>
<jh-alert></jh-alert>
