<form name="confirmCurrentForm" ng-submit="confirmCurrent(mandature.id)">
    <div class="modal-header">
        <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-hidden="true"
            ng-click="clear()"
        >
            &times;
        </button>
        <h4 class="modal-title">Confirmation</h4>
    </div>
    <div class="modal-body">
        <p>Faire de cette mandature la mandature courante de Siger ?</p>
        <p>
            Les autres utilisateurs de Siger passeront sur cette nouvelle
            mandature.
        </p>
        <p>
            Seule exception, les utilisateurs qui visualisent et éditent
            spécifiquement une autre mandature resteront sur cette dernière.
        </p>
    </div>
    <div class="modal-footer">
        <button
            type="button"
            class="btn btn-default"
            data-dismiss="modal"
            ng-click="clear()"
        >
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
                >Annuler</span
            >
        </button>
        <button
            type="submit"
            ng-disabled="confirmCurrentForm.$invalid"
            class="btn btn-danger"
        >
            <span class="glyphicon glyphicon-arrow-down"></span>&nbsp;<span
                >Rendre courante</span
            >
        </button>
    </div>
</form>
