<div>
    <section class="content-header">
        <h1>Mandatures</h1>
    </section>
    <div class="container">
        <div class="row buttons">
            <div class="col-lg-12 align-right">
                <button class="btn btn-primary" ui-sref="mandature.new">
                    <span class="glyphicon glyphicon-flash"></span>
                    <span>Nouvelle mandature</span>
                </button>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="table-responsive info-box table-info-box">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="align-right">Visualisation en cours</th>
                        <th>Année de début</th>
                        <th>Année de fin</th>
                        <th>Date de début</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="mandature in mandatures track by mandature.id"
                        ng-style="mandature.current && {'background-color': '#d4f5ae'}"
                    >
                        <td class="align-right">
                            <i
                                class="fa fa-arrow-right"
                                ng-if="mandature.id == currentMandature.id"
                            ></i>
                        </td>
                        <td>{{mandature.anneeDebut}}</td>
                        <td>{{mandature.anneeFin}}</td>
                        <td>{{mandature.dateDebut | date:'mediumDate'}}</td>
                        <td>
                            <!--                        <button type="submit"-->
                            <!--                                ui-sref="mandature.detail({id:mandature.id})"-->
                            <!--                                class="btn btn-info btn-sm">-->
                            <!--                            <span class="glyphicon glyphicon-eye-open"></span>&nbsp;<span> View</span>-->
                            <!--                        </button>-->
                            <button
                                type="submit"
                                ui-sref="mandature.edit({id:mandature.id})"
                                class="btn btn-primary btn-sm"
                            >
                                <span class="glyphicon glyphicon-pencil"></span
                                >&nbsp;<span> Éditer</span>
                            </button>
                            <button
                                type="submit"
                                ui-sref="ajouterElusMandature({id:mandature.id})"
                                class="btn btn-info btn-sm"
                            >
                                <span class="glyphicon glyphicon-plus"></span
                                >&nbsp;<span> Ajouter des élus</span>
                            </button>
                            <button
                                type="submit"
                                class="btn btn-sm"
                                ng-class="(mandature.id != currentMandature.id) ? 'btn-info' : 'btn-default'"
                                ng-click="setMandatureForSession(mandature)"
                            >
                                <span
                                    class="glyphicon glyphicon-eye-open"
                                ></span>
                                <span
                                    ng-if="mandature.id != currentMandature.id"
                                    >Voir cette mandature</span
                                >
                                <span
                                    ng-if="mandature.id == currentMandature.id"
                                    >Mandature visualisée</span
                                >
                            </button>
                            <button
                                type="submit"
                                class="btn btn-success btn-sm"
                                ng-if="mandature.current"
                            >
                                <span
                                    class="glyphicon glyphicon-eye-open"
                                ></span
                                >&nbsp;<span> Mandature en cours</span>
                            </button>
                            <button
                                type="submit"
                                ui-sref="mandature.makeCurrent({id:mandature.id})"
                                class="btn btn-danger btn-sm"
                                ng-if="!mandature.current"
                            >
                                <span
                                    class="glyphicon glyphicon-arrow-down"
                                ></span
                                >&nbsp;<span> Rendre courante</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
